<%- include('partials/header.ejs') -%>
<div class="container">
    <br>
    <h1>Shop Products</h1><hr>
    <div class="row">
        
        <% data.forEach(element => { %>
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"><%= element.PRODUCT_NAME %></h5>
                        <p class="card-text"><%= element.PRODUCT_DESCRIPTION %> </p>  
                        <br>
                        <p class="card-text">category: <%= element.PRODUCT_TYPE %> </p>
                        <p class="card-text">Ratings: <%= element.PRODUCT_RATING %>/5 </p>
                        <h6 class="card-text">Price: <%= element.PRODUCT_PRICE %> </h6>
                        <a href="/add-to-cart/<%= element.PRODUCT_ID %>" class="btn btn-outline-success">Add To Cart</a>
                        <a href="/view-shop-product/<%= element.PRODUCT_ID %> " class="btn btn-outline-primary">View Details</a>
                    </div>
                </div>
            </div>
        <% }) %>
        
    </div>
    <!-- <div class="card" style="width: 18rem;"> -->
        <!-- <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> -->
</div>
<%- include('partials/footer.ejs') -%>